.navbar-inverse {
    background-color: #8C1515;
    background-image: -webkit-linear-gradient(top, #8C1515 0, #8C1515 100%);
    background-image: linear-gradient(#8c1515 62.18%, #820000 78.15%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#8C1515', endColorstr='#8C1515', GradientType=0);
    border-bottom: 1px solid #565347;
}
